<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="finishsubmit" method="get">
        <p>street address <input type="text" name="street_address"></p>
        <p>size(Count in 1dm per unit)
            <select name="size">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </p>
        <p>location <input type="text" name="location"></p>
        <p>district <input type="text" name="district"></p>
        <p>your name <input type="text" name="citizen_name"></p>
        <p>your address <input type="text" name="citizen_address"></p>
        <p>your phone number <input type="text" name="citizen_phone_number"></p>
        <button type="submit">提交</button>
    </form>
</body>
</html>